@import "./color";

table {
  width: 80%;
  margin-left: 10%;
  thead {
    align-items: center;
    justify-content: space-between;
    color: $secondary_color;

    th {
      border-bottom: groove;
    }
  }
  tbody {
    align-items: center;
    justify-content: space-around;

    tr {
      color: $primary_color;
      border-bottom: groove;
    }
  }
}
